.body {
    font-family: 'Heebo', sans-serif;
}
/*header */
.customNav {
  margin-left: 3% !important;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 8% !important;
}
.navbar-brand img {
  width: 90px;
}
.nav-item {
  margin: 0px 15px;
  font-size: 90%;
}

.docTitle {
  margin-bottom: 3%;
}
/*body */

h1 {
    margin-top: 5%;
    margin-left: 15%;
    font-family:'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 200%;
    margin-bottom: 2%;
}

h2 {
  margin-top: 5%;
  margin-left: 15%;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 150%;
  margin-bottom: 2%;
}

h3 {
  margin-top: 5%;
  margin-left: 15%;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 100%;
  margin-bottom: 2%;
}

h4 {
  margin-left: 15%;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 90%;
  margin-bottom: 2%;
}

h5 {
  margin-top: 5%;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 2%;
}

h6 {
  margin-top: 5%;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 2%;
}

p {
  margin-right: 10%;
  font-family:'Heebo', sans-serif;
  font-weight: normal;
  font-size: 80%;
  margin-bottom: 2%;
}

.pictureHifi {
  margin-bottom: 5%;
}

.clickablePrototype {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: #f1f1f1;
}
.clickablePrototypeEnd {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background: #f1f1f1;
}
.clickablePrototypePic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectOverview {
  padding-left: 15%;
  margin-bottom: 5%;
  width: 100%;
}

.projectOverview2 {
  margin-left: 10%;
  width: 85%;
}


.icon {
  width: 15%;
  float: left;
  padding-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.icon2022 {
  width: 15%;
  float: left;
  padding-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}
.iconTitle {
  margin-left: 0 !important;
}

.empathizeText {
  align-items: center;
  justify-content: center;
}
.usertestAnalysis {
  margin-left: 15%;
}
.usertesttext {
  width: 500px;
  line-height: 18pt;
  margin-top:0;
  margin-left: 5%;

}
.card-text {
  margin: none;
}

.usabilityTest {
  width: 80%;
}

.usertestPic {
  margin-top: 5%;
}
.card-img-top-user {
  width:100%;
}
.card-img-top {
  width:50%;
}

.card {
  margin: 0 auto;
}

.card-body {
  margin: 0;
  padding: 0;
}

.userResearch {
  margin-bottom: 3%;
  font-size: 80%;
}
ul.userResearch {
  margin-left: 15% !important;
  padding-left: 0 !important;
}
.userResearchtext {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

.card-img-user-test {
  width:50%;
}

.key-insights {
  margin-bottom: 5%;
  width:80%;
}
.navigabilityAnalysis {
  margin-left: 15%;
  margin-bottom: 3%;
  font-size: 80%;
}

.cardSorting {
  margin-left: 15%;
  margin-bottom: 3%;
  font-size: 80%;
}

.siteMapping {
  padding-left: 15%;
  margin-bottom: 3%;
  font-size: 80%;
}

.carousel .carousel-inner{
  height:700px
  }
  .carousel-inner .carousel-item img{
  min-height:200px;
  object-fit:cover
  }

  @media(max-width:768px){
  .carousel .carousel-inner{
  height:auto
   }
  }
  .carousel-control-next,
  .carousel-control-prev {
      filter: invert(100%);
  }


.navbarMobile {
  margin-bottom: 7%;
}

.usabilityTesting {
  padding-left: 15%;
  font-size: 80%;
  font-family:'Heebo', sans-serif;
}

ul.usabilityTesting {
  padding-left: 20%;
  font-size: 80%;
  font-family:'Heebo', sans-serif;
}

.keyTakeaways {
  padding-left: 15%;
  font-size: 80%;
}
/*footer section */

footer {
    background-color: #CEEEEA;
    height:20%;
    margin-top:0;
}

.social {
    list-style: none;
    display:inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.footerBlock {
    padding: 2%;
    align-items: center;
}


/*footer section */
@media only screen and (max-width: 600px) {
    .footerBlock {
        display: inline-flex;
        justify-content: center;
        padding: 3%;
    }
}

